[submodule "3rd_party/bitmap"]
	path = 3rd_party/bitmap
	url = https://github.com/ArashPartow/bitmap
[submodule "3rd_party/gif-h"]
	path = 3rd_party/gif-h
	url = https://github.com/charlietangora/gif-h
[submodule "3rd_party/OBJ-Loader"]
	path = 3rd_party/OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader
[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rd_party/cacao"]
	path = 3rd_party/cacao
	url = https://github.com/GPUOpen-Effects/FidelityFX-CACAO
[submodule "3rd_party/cauldron"]
	path = 3rd_party/cauldron
	url = https://github.com/GPUOpen-LibrariesAndSDKs/Cauldron
