[submodule "3rd_party/bitmap"]
	path = 3rd_party/bitmap
	url = https://github.com/ArashPartow/bitmap
[submodule "3rd_party/gif-h"]
	path = 3rd_party/gif-h
	url = https://github.com/charlietangora/gif-h
[submodule "3rd_party/OBJ-Loader"]
	path = 3rd_party/OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader
[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rd_party/cacao"]
	path = 3rd_party/cacao
	url = https://github.com/GPUOpen-Effects/FidelityFX-CACAO
[submodule "3rd_party/Sponza"]
	path = 3rd_party/Sponza
	url = https://github.com/jimmiebergmann/Sponza
[submodule "3rd_party/fbx"]
	path = 3rd_party/fbx
	url = https://github.com/nem0/OpenFBX
[submodule "3rd_party/tinyexr"]
	path = 3rd_party/tinyexr
	url = https://github.com/syoyo/tinyexr
[submodule "3rd_party/DirectML"]
	path = 3rd_party/DirectML
	url = https://github.com/microsoft/DirectML
[submodule "3rd_party/DirectXTex"]
	path = 3rd_party/DirectXTex
	url = https://github.com/microsoft/DirectXTex
